<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tienda</title>
  <link rel="stylesheet" href="../styles/tienda.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/javascript/tienda.js"></script>
  
</head>

<body>
  <section class="hamburguesa">
    <section class="hamburguesa__logo"></section>
    <section class="hamburguesa__icono"></section>
  </section>
  <section class="hamburguesa__menu view__elemento"></section>


  <header class="encabezado">

    <section class="logo">
      <img src="../images/logo-letra-blanca.png" alt="Logo" class="logo">
    </section>

    <nav class="navegacion-bar">
      <div class="servicios">
        <ul>
          <a href="#">
            <li>La Institución</li>
          </a>
          <a href="#">
            <li>Noticias</li>
          </a>
          <a href="#">
            <li>Biblioteca</li>
          </a>
          <a href="#">
            <li>Educate ya!</li>
          </a>
          <br>
          <a href="#">
            <li>Programas</li>
          </a>
          <a href="#">
            <li>Admisiones</li>
          </a>
          <a href="#">
            <li>Contacto</li>
          </a>
          <a href="/tienda">
            <li>Tienda</li>
          </a>
        </ul>
      </div>
    </nav>
    <div class="identificador">
      <ul>
        <a href="#">
          <li>Mail</li>
        </a>
        <a href="#">
          <li>Moodle</li>
        </a>
        <br>
        <a href="#">
          <li>¿Quién Soy?</li>
        </a>
      </ul>
    </div>
  </header>


  <div class="divisiones_horizontales">
    <div class="cat_izquierda">
      <a href="/tienda">
        <h2>Todos los productos</h2>
      </a>
      <ul>
        <a href="/categoria/Cursos">
          <li>Cursos en linea</li>
        </a>

        <a href="/categoria/Kit">
          <li>Kits universitarios</li>
        </a>

        <a href="/categoria/Maletines">
          <li>Maletines</li>
        </a>

        <a href="/categoria/Libros">
          <li>Libros y agendas</li>
        </a>

        <a href="/categoria/Software">
          <li>Software</li>
        </a>

        <a href="/categoria/Camiseta">
          <li>Camisetas</li>
        </a>

      </ul>
    </div>

    <div class="productos_derecha">
      <h1>Todos los productos</h1>

      <div class="barra-productos">
        <p>Encontramos: 6 Productos</p>
        <p>Ordernar por:</p>

        <select class="ordenamientos">
          <option value="1">Popularidad</option>
          <option value="2">Menor precio</option>
          <option value="3">Mayor precio</option>
        </select>

        <a href="#">
          <img src="https://img.icons8.com/metro/420/search.png" alt="buscar">
        </a>

        <input type="text" placeholder="Busca productos">


        <a href="carrito-compras">
          <div class="carrito_compras">
            <h2 class="cant_productos_carrito">9</h2>
            <img class="carrito_icon" src="https://static.thenounproject.com/png/16757-200.png" alt="">
          </div>
        </a>

      </div>


      <div class="lista_productos">


        {{#each productos}}
        <a href="/producto/{{nombre}}">
          <div class="productoHome">
            <div>
              <img src="{{imagen}}" alt="Imagen_producto">
            </div>

            <div>
            <p>{{nombre}}</p>
            <h3>$ {{precio}}.000</h3>

            <!--Intento de ratingbar-->
            <div class="cant-estrellas"><p class="num-estrellas">{{popularidad}}</p></div>
            <div class="ratingbar3">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            </div>


            <div class="ratingbar4">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            </div>

            <div class="ratingbar5">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            </div>
            <!--Intento de ratingbar-->
            </div>
          </div>
        </a>
        {{/each}}

      </div>





    </div>
  </div>
</body>



<footer>
  <section class="logo">
    <img src="/images/logo-letra-blanca.png" alt="Logo" class="logo">
  </section>

  <div class="columnas-footer">
    <div class="filas-footer">
      <div class="contenido-footer">
        <div class="informacion-sedes">
          <p>
            Sede Principal
            <br>
            Av. 3ra Norte # 44-100
            <br>
            B. Las Mercedes
          </p>

          <p class="p-derecha">
            (+2) 485 6188
            <br>
            (+57) 350 302 4709
          </p>

        </div>
      </div>

      <div class="informacion-sedes">
        <p>
          SAES Educación Continua Villarica
          <br>
          Calle 3 # 6-58
          <br>
          B. Centro
        </p>

        <p class="p-derecha">
          (+2) 848 6736
        </p>

      </div>

      <div class="informacion-sedes">
        <p>
          SAES Talanga
          <br>
          Cra. 25 # 86-11
          <br>
          B. Talanga I
        </p>

        <p class="p-derecha">
          (+2) 420 2214
          <br>
          (+2) 420 2309
        </p>

      </div>

      <div class="informacion-sedes">
        <p>
          SAES Ecucación Continua Yumbo
          <br>
          Av.3ra Norte # 44-100
          <br>
          B. Las Mercedes
        </p>

        <p class="p-derecha">
          (+57) 318 711 9271
        </p>
      </div>
    </div>



    <div class="enlaces-footer">

      <p><b>ENLACES RAPIDOS</b></p>
      <a href="#">Tecnologica Autónoma del pacifico</a>
      <br>
      <a href="#">Preguntas Frecuentes</a>
      <br>
      <a href="#">Nuestros Profesores</a>
      <br>
      <a href="#">Educación Continua</a>
      <br>
      <a href="#">Mapa del Sitio</a>
      <br>
      <a href="#">Programas</a>
      <br>
      <a href="#">Multimedia</a>
      <br>
      <a href="#">Noticias</a>

    </div>

    <div class="enlaces-footer">

      <p><b>REDES SOCIALES</b></p>
      <div class="redes-sociales">
        <a href="https://www.facebook.com/">
          <img src="/images/facebook.png" alt="Facebook">
        </a>
        <a href="https://twitter.com/?lang=es">
          <img src="/images/twitter.png" alt="Twitter">
        </a>
        <a href="https://www.instagram.com/?hl=es-la">
          <img src="/images/instagram.png" alt="Instagram">
        </a>
      </div>
    </div>

  </div>

  <p>Institución de Educación Superior sujeta a control y vigilancia por Ministerio de Educación Nacional. Decreto
    1075 de 2015 / Resolución 12220 de 2016.</p>
</footer>


</html>